<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>128x128 Pixel Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="grid">
        {% for y in range(pixels|length) %}
            {% for x in range(pixels|length) %}
                {% set pixel = pixels[y][x] %}
                <div id="{{ x }}{{ y }}" data-x="{{ x }}" data-y="{{ y }}" class="cell {% if pixel %}filled{% endif %}"></div>
            {% endfor %}
        {% endfor %}
    </div>
    <button onclick="sendData()">Send Data</button>

    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
</body>
</html>