<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>128x128 Pixel Image</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
    <div id="grid">
        <canvas></canvas>
    </div>
    <!-- <button onclick="sendData()">Send Data</button> -->
    <button id="clear">Clear Grid</button>

    <div id="colourpicker">
        {% for colour in range(16) %}
            <label for="colour{{ colour }}">{{ colour }}</label>
            <input type="radio" name="colour" id="colour{{ colour }}" value="{{ colour }}" {% if colour == 15 %}checked{% endif %}>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
</body>
</html>